---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ChrisBr/open-build-service/issues?labels=review-lab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1526909256'
      Etag:
      - W/"aebc5170abba8c1608b4df43a29580ac"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8","repository_url":"https://api.github.com/repos/ChrisBr/open-build-service","labels_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8/labels{/name}","comments_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8/comments","events_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8/events","html_url":"https://github.com/ChrisBr/open-build-service/pull/8","id":313062601,"number":8,"title":"Foobar","user":{"login":"ChrisBr","id":3799140,"avatar_url":"https://avatars1.githubusercontent.com/u/3799140?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisBr","html_url":"https://github.com/ChrisBr","followers_url":"https://api.github.com/users/ChrisBr/followers","following_url":"https://api.github.com/users/ChrisBr/following{/other_user}","gists_url":"https://api.github.com/users/ChrisBr/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisBr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisBr/subscriptions","organizations_url":"https://api.github.com/users/ChrisBr/orgs","repos_url":"https://api.github.com/users/ChrisBr/repos","events_url":"https://api.github.com/users/ChrisBr/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisBr/received_events","type":"User","site_admin":false},"labels":[{"id":885487619,"url":"https://api.github.com/repos/ChrisBr/open-build-service/labels/review-lab","name":"review-lab","color":"e99695","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":4,"created_at":"2018-04-10T19:41:13Z","updated_at":"2018-04-30T09:47:42Z","closed_at":null,"author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls/8","html_url":"https://github.com/ChrisBr/open-build-service/pull/8","diff_url":"https://github.com/ChrisBr/open-build-service/pull/8.diff","patch_url":"https://github.com/ChrisBr/open-build-service/pull/8.patch"},"body":""},{"url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/4","repository_url":"https://api.github.com/repos/ChrisBr/open-build-service","labels_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/4/comments","events_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/4/events","html_[...]
- request:
    method: get
    uri: https://api.github.com/repos/ChrisBr/open-build-service/pulls/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1526909256'
      Etag:
      - W/"f0add712419b7e47adef535e396a1fe6"
      Last-Modified:
      - Fri, 18 May 2018 12:09:55 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls/8","id":180707190,"html_url":"https://github.com/ChrisBr/open-build-service/pull/8","diff_url":"https://github.com/ChrisBr/open-build-service/pull/8.diff","patch_url":"https://github.com/ChrisBr/open-build-service/pull/8.patch","issue_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8","number":8,"state":"open","locked":false,"title":"Foobar","user":{"login":"ChrisBr","id":3799140,"avatar_url":"https://avatars1.githubusercontent.com/u/3799140?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisBr","html_url":"https://github.com/ChrisBr","followers_url":"https://api.github.com/users/ChrisBr/followers","following_url":"https://api.github.com/users/ChrisBr/following{/other_user}","gists_url":"https://api.github.com/users/ChrisBr/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisBr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisBr/subscriptions","organizations_url":"https://api.github.com/users/ChrisBr/orgs","repos_url":"https://api.github.com/users/ChrisBr/repos","events_url":"https://api.github.com/users/ChrisBr/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisBr/received_events","type":"User","site_admin":false},"body":"","created_at":"2018-04-10T19:41:13Z","updated_at":"2018-04-30T09:47:42Z","closed_at":null,"merged_at":null,"merge_commit_sha":"fb15aea59386cd99e493380eaefb96248e6c48d5","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":885487619,"url":"https://api.github.com/repos/ChrisBr/open-build-service/labels/review-lab","name":"review-lab","color":"e99695","default":false}],"milestone":null,"commits_url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls/8/commits","review_comments_url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls/8/comments","review_comment_url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/8/comments","statuses_url":"https://api.github.com/repos/ChrisBr/open-build-service/statuses/69db0d4c9b7d6bc77e7ef8953e81a3f0148b2225","head":{"label":"ChrisBr:bar","ref":"bar","sha":"69db0d4c9b7d6bc77e7ef8953e81a3f0148b2225","user":{"login":"ChrisBr","id":3799140,"avatar_url":"https://avatars1.githubusercontent.com/u/3799140?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisBr","html_url":"https://github.com/ChrisBr","followers_url":"https://api.github.com/users/ChrisBr/followers","following_url":"https://api.github.com/users/ChrisBr/following{/other_user}","gists_url":"https://api.github.com/users/ChrisBr/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisBr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisBr/subscriptions","organizations_url":"https://api.github.com/users/ChrisBr/orgs","repos_url":"https://api.github.com/users/ChrisBr/repos","events_url":"https://api.github.com/users/ChrisBr/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisBr/received_events","type":"User","site_admin":false},"repo":{"id":37975903,"name":"open-build-service","full_name":"ChrisBr/open-build-service","owner":{"login":"ChrisBr","id":3799140,"avatar_url":"https://avatars1.githubusercontent.com/u/3799140?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisBr","html_url":"https://github.com/ChrisBr","followers_url":"https://api.github.com/users/ChrisBr/followers","following_url":"https://api.github.com/users/ChrisBr/following{/other_user}","gists_url":"https://api.github.com/users/ChrisBr/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisBr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisBr/subscriptions","organizations_url":"https://api.github.com/users/ChrisBr/orgs","repos_url":"https://api.github.com/users/ChrisBr/repos","events_url":"https://api.github.com/users/ChrisBr/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisBr/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ChrisBr/open-build-service","description":"A
        generic system to build and distribute packages from sources in an automatic,
        consistent and reproducible way. Release your software for a wide range of
        operating systems and hardware architectures.","fork":true,"url":"https://api.github.com/repos/ChrisBr/open-build-service","forks_url":"https://api.github.com/repos/ChrisBr/open-build-service/forks","keys_url":"https://api.github.com/repos/ChrisBr/open-build-service/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ChrisBr/open-build-service/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ChrisBr/open-build-service/teams","hooks_url":"https://api.github.com/repos/ChrisBr/open-build-service/hooks","issue_events_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/events{/number}","events_url":"https://api.github.com/repos/ChrisBr/open-build-service/events","assignees_url":"https://api.github.com/repos/ChrisBr/open-build-service/assignees{/user}","branches_url":"https://api.github.com/repos/ChrisBr/open-build-service/branches{/branch}","tags_url":"https://api.github.com/repos/ChrisBr/open-build-service/tags","blobs_url":"https://api.github.com/repos/ChrisBr/open-build-service/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ChrisBr/open-build-service/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ChrisBr/open-build-service/git/refs{/sha}","trees_url":"https://api.github.com/repos/ChrisBr/open-build-service/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ChrisBr/open-build-service/statuses/{sha}","languages_url":"https://api.github.com/repos/ChrisBr/open-build-service/languages","stargazers_url":"https://api.github.com/repos/ChrisBr/open-build-service/stargazers","contributors_url":"https://api.github.com/repos/ChrisBr/open-build-service/contributors","subscribers_url":"https://api.github.com/repos/ChrisBr/open-build-service/subscribers","subscription_url":"https://api.github.com/repos/ChrisBr/open-build-service/subscription","commits_url":"https://api.github.com/repos/ChrisBr/open-build-service/commits{/sha}","git_commits_url":"https://api.github.com/repos/ChrisBr/open-build-service/git/commits{/sha}","comments_url":"https://api.github.com/repos/ChrisBr/open-build-service/comments{/number}","issue_comment_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues/comments{/number}","contents_url":"https://api.github.com/repos/ChrisBr/open-build-service/contents/{+path}","compare_url":"https://api.github.com/repos/ChrisBr/open-build-service/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ChrisBr/open-build-service/merges","archive_url":"https://api.github.com/repos/ChrisBr/open-build-service/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ChrisBr/open-build-service/downloads","issues_url":"https://api.github.com/repos/ChrisBr/open-build-service/issues{/number}","pulls_url":"https://api.github.com/repos/ChrisBr/open-build-service/pulls{/number}","milestones_url":"https://api.github.com/repos/ChrisBr/open-build-service/milestones{/number}","notifications_url":"https://api.github.com/repos/ChrisBr/open-build-service/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ChrisBr/open-build-service/labels{/name}","releases_url":"https://api.github.com/repos/ChrisBr/open-build-service/releases{/id}","deployments_url":"https://api.github.com/repos/ChrisBr/open-build-service/deployments","created_at":"2015-06-24T09:40:40Z","updated_at":"2018-04-20T07:54:21Z","pushed_at":"2018-05-18T15:00:26Z","git_url":"git://github.com/ChrisBr/open-build-service.git","ssh_url":"git@github.com:ChrisBr/open-build-service.git","clone_url":"https://github.com/ChrisBr/open-build-service.git","svn_url":"https://github.com/ChrisBr/open-build-service","homepage":"http://openbuildservice.org/","size":58155,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":4,"license":{"key":"gpl-2.0","name":"GNU
        General Public License v2.0","spdx_id":"GPL-2.0","url":"https://api.github.com/licenses/gpl-2.0"},"forks":0,"open_issues":4,"watchers":0,"default_branch":"master"}},"base":{"label":"ChrisBr:master","ref":"master","sha":"868424b97236a14db2e5c583c5ea1c16410cd750","user":{"login":"ChrisBr","id":3799140,"avatar_url":"https://avatars1.githubusercontent.com/u/3799140?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisBr","html_url":"https://github.com/ChrisBr","followers_url":"https://api.github.com/users/ChrisBr/followers","following_url":"https://api.github.com/users/ChrisBr/following{/other_user}","gists_url":"https://api.github.com/users/ChrisBr/gists{/g[...]
